.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-left: 3px solid #00a7ff;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
  -moz-box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
  box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
}

.recovered {
  border-left: 3px solid #0daf57;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
  -moz-box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
  box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
}

.deaths {
  border-left: 3px solid #ff4646;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
  -moz-box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
  box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
}

@media (max-width:770px) {
  .card {
    margin: 2% 0 !important;
  }
}