.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  color: #e8e8e9 !important;
  background-color: rgba(0,0,0,0.2) !important;
}

.infected {
  border: 1px solid rgba(35, 102, 245, 0.8);
}

.infected:hover  {
  box-shadow: 4px 0px 25px -10px rgba(35, 102, 245, 0.8) !important;
}

.recovered {
  border: 1px solid rgba(2, 218, 56, 0.8);
}

.recovered:hover {
  box-shadow: 4px 0px 25px -10px rgba(2, 218, 56, 0.8) !important;
}

.deaths {
  border: 1px solid rgba(250, 74, 74, 0.959);
}

.deaths:hover {
  box-shadow: 4px 0px 25px -10px rgba(250, 74, 74, 0.959) !important;
}

.lastUpdate {
  color: #8f8f8f !important;
}

.cardTitle {
  color: #8f8f8f !important;
  display: flex;
}

.icon {
  margin-left: 5px;
}

.hr {
  margin: 10px 0 !important;
  width: 100%;
  border: none;
  height: 1px;
  flex-shrink: 0;
  background-color: #3b3b3b !important;
}

@media (max-width:770px) {
  .card {
    margin: 2% 0 !important;
  }
}