.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  -webkit-box-shadow: 0px 0px 25px -15px rgba(153,153,153,1) !important;
  -moz-box-shadow: 0px 0px 25px -15px rgba(153,153,153,1) !important;
  border-left: 2px solid rgba(35, 102, 245, 0.8);
  box-shadow: 0px 0px 20px -15px rgba(153,153,153,1) !important;
}

.infected:hover  {
  box-shadow: 4px 0px 25px -10px rgba(153,153,153,1) !important;
}

.recovered {
  border-left: 2px solid rgba(2, 218, 56, 0.8);
  -webkit-box-shadow: 0px 0px 25px -15px rgba(153,153,153,1) !important;
  -moz-box-shadow: 0px 0px 25px -15px rgba(153,153,153,1) !important;
  box-shadow: 0px 0px 20px -15px rgba(153,153,153,1) !important;
}

.recovered:hover {
  box-shadow: 4px 0px 25px -10px rgba(153,153,153,1) !important;
}

.deaths {
  border-left: 2px solid rgba(250, 74, 74, 0.959);
  -webkit-box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
  -moz-box-shadow: 0px 0px 25px -10px rgba(153,153,153,1) !important;
  box-shadow: 0px 0px 20px -15px rgba(153,153,153,1) !important;
}

.deaths:hover {
  box-shadow: 4px 0px 25px -10px rgba(153,153,153,1) !important;
}

.mainText {
  display: flex;
}

.icon {
  margin-left: 5px;
}

.hr {
  margin: 10px 0 !important;
  width: 100%;
  border: none;
  height: 1px;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

@media (max-width:770px) {
  .card {
    margin: 2% 0 !important;
  }
}