body {
  background-color: #202124;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerLight {
  width: 100%;
  padding: 30px;
  position: fixed ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #26282c;
}

.image {
  width: 350px;
  margin-top: 35px;
}

.hr {
  margin-top: 30px !important;
  width: 50%;
  border: none;
  height: 1px;
  flex-shrink: 0;
  background-color: #3b3b3b !important;
}

@media (max-width:770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }

  .hr {
    width: 100%;
  }
}